@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div style=' background-color: rgba(255, 255, 255,0.4)'>
    <p style='font-size:35px; color:lawngreen'>ESRA ÇAKIR </pstyle='font-size:35px;>
    <p style='font-size:35px; color:lawngreen'>12401603</p>
</div>