
@using Damacana.Models;
@model List<Damacana.Models.Cart>

@{
    ViewBag.Title = "DeleteCart";
}

<p style='font-size:35px; color:lawngreen'>Delete Cart</p>



<div class=" alert alert-success" role="alert"><b> Cart deleted  </b></div>
<a href="@Url.Action("CartList")"> Go to cart List</a>