@using Damacana.Models;
@model List< Damacana.Models.Product> 


@{
    ViewBag.Title = "Home Page";
}
Hello world!
@foreach (Product p in Model)
{
    <h2>
    @p.Name (@p.Id)
    </h2>

    <p> @p.Price</p>
}