@using Damacana.Models;
@model List<Damacana.Models.Purchase>
@{
    ViewBag.Title = "PuchaseList";
}

<p style='font-size:35px; color:lawngreen'>PurchaseList</p>

<hr />


@foreach (var item in Model)
{
    <div style=' background-color: rgba(255, 255, 255,0.4)'>
        <p style='font-size:15px; '><b>Purchase ıd : @Html.DisplayFor(modelItem => item.Id)</b> </p>
        <p style='font-size:15px;'> Date: @Html.DisplayFor(modelItem => item.CreatedOn)</p>
        <p style='font-size:15px;' > Total Price: @Html.DisplayFor(modelItem => item.TotalPrice)</p>

    </div>
}

        <div class=" alert alert-success" role="alert"> <b> Success :) </b></div>
        you bought this cart !

