@model Damacana.Models.Cart
@{
    ViewBag.Title = "SaveCart";
}
<p style='font-size:35px; color:lawngreen'>Save Cart </p>





@using (Html.BeginForm("CartList", "Home", FormMethod.Post))
{<div class=" alert alert-success" role="alert"> <b> Success :) </b></div>}
Changes saved<a href="@Url.Action("CartList")"> Go to  Cart List </a>
<a href="@Url.Action("ProductList")"> Go to  Product List </a>