
@model Damacana.Models.Product
@{
    ViewBag.Title = "SaveProduct";
}

<p style='font-size:35px; color:lawngreen'> Save Product</p>


@using (Html.BeginForm("ProductList", "Home", FormMethod.Post))
{<div class=" alert alert-success" role="alert"> <b> Success :) </b></div>}
Changes saved<a href="@Url.Action("ProductList")"> Go to List</a>