
@{
    ViewBag.Title = "SaveProduct";
}

<h2>SaveProduct</h2>



<div class=" alert alert-success" role="alert"> Product saved : <b> @Model.Name </b></div>
Product saved<a href="@Url.Action("Index")"> Go to List</a>